/* @import url(https://fonts.googleapis.com/earlyaccess/notonaskharabic.css); */

body {
    /* background: #eee; */
    font-family: "Ubuntu Kurdish", serif !important;
}

.change_mode {
    position: absolute;
    right: 2%;
    top: 2%;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.change_mode.rotated {
    -webkit-transform : rotate(-180deg); 
    -moz-transform : rotate(-180deg); 
    -ms-transform : rotate(-180deg); 
    -o-transform : rotate(-180deg); 
    transform : rotate(-180deg); 
}
.hovered {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: ease-in-out 0.3s;
}

.hovered:hover {

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: ease-in-out 0.3s;
}


span {
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #0062cc;
    border-bottom: 2px solid #0062cc;
}

.box {
    padding: 60px 0px;
}

.box-part {
    background: #f9f9f9;
    border-radius: 5px;
    padding: 60px 10px;
    margin: 30px 0px;
}

.text {
    margin: 20px 0px;
}

.fa {
    color: #4183D7;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.container {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}

.card-deck .card {
    min-width: 220px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.status {
    color: white;
}

.at-cv-input {
    margin-left: 10px !important;
}